.imagen {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: $maxwidth;
    grid-area: imagen;
    
    }
    
    .imagenCirugia  {
      background-position: 50%, 75% ;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: $maxwidth;
    
    }
    
    
    .imagenAmbulancia {
    
    height: 200px;
    width: auto
    }
    .imgContacto {
    
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: $maxwidth;
    }
    
    .imgTrabaja{
    
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: $maxwidth;
    
    }
    
    .imagenUbi {
    
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: $maxwidth;
    
    }